@model ToDo.Models.ToDoItem
@{
    ViewBag.Title = "Update Task";
}

<div class="jumbotron">
    <h1>Update - @Model.Title</h1>
</div>

<div class="row">
    @using (Html.BeginForm("UpdateTask", "Update", FormMethod.Post))
    {
        @Html.HiddenFor(x => x.ID)
        @Html.HiddenFor(x => x.Priority)
        <div class="row td-row">
            <div class="col-md-3 item-title">@Html.TextBoxFor(x => x.Title)</div>
            <div class="col-md-7 item-desc">@Html.TextAreaFor(x => x.Description, new { @cols = 15, @rows = 5 })</div>
            <div class="col-md-1">
                @Html.DropDownListFor(x => x.Status, Enum.GetValues(typeof(ToDo.Models.ToDoItem.Progress)).Cast<ToDo.Models.ToDoItem.Progress>().Select(v => new SelectListItem
       {
           Text = v.ToString(),
           Value = ((int)v).ToString()
       }).ToList())
        </div>
        <div class="col-md-1"><input class="button" type="submit" value="Update" name="Update" /></div>
    </div>
}

</div>
